* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #0f172a;
    color: #e2e8f0;
    min-height: 100vh;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

.logo {
    color: #38bdf8;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #cbd5e1;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.7)
    ),
    url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
}

.hero-content p {
    font-size: 20px;
    color: #cbd5e1;
}

/* CONTAINER */
.container {
    padding: 60px 8%;
}

/* SEÇÃO */
.secao {
    text-align: center;
}

.secao h2 {
    margin-bottom: 30px;
    color: #38bdf8;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.card p {
    color: #e2e8f0;
}

/* FOOTER */
footer {
    background: #020617;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #94a3b8;
}